@model PasswordResetViewModel
@{ 
    Layout = "_IdentityLayout";
}

<div class="container">
    <p style="font-size:18px">The password of user <i>@Model.UserName</i> is reseted and it is <span style="background-color:darkorchid">@Model.Password</span> now</p>
    <p style="font-size:18px">Notify the user about the password by <span style="background-color:chartreuse">@Model.Email</span> and tell to change the password on first login</p>
</div>

<a asp-action="UserIndex" class="btn btn-primary">Back</a>