@model MaterialCreationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MaterialCreationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Material.MaterialName" class="control-label">Material Name</label>
                <input asp-for="Material.MaterialName" class="form-control" />
                <span asp-validation-for="Material.MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.WSSuplierId" class="control-label">Supplier Name</label>
                <select asp-for="Material.WSSuplierId" class="form-control">
                    <option value="" hidden>--Select a supplier--</option>
                    @foreach(WSSupplier sup in Model.Suppliers)
                    {
                        <option value="@sup.Id" >@sup.SupplierName</option>
                    }
                </select>
                <span asp-validation-for="Material.WSSuplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

