@model ChangePasswordViewModel
@inject IViewLocalizer Localizer

@{ Layout = "_Layout"; }

<h3 class="text bg-warning">@User.Identity.Name@Localizer[", you are about to change your password."]</h3>
<h5 class="text text-danger">@Localizer["When the password is changed, you should loge in again with the new password."]</h5>

<div class="container">
    <form asp-action="ChangePassword" method="post" style="width:450px">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <label asp-for="NewPasswordRepeated"></label>
            <input asp-for="NewPasswordRepeated" class="form-control" type="password" />
        </div>
        <button type="submit" class="btn btn-warning">@Localizer["Change"]</button>
        <a asp-controller="Home" asp-action="Index">@Localizer["Cancel"]</a>
    </form>
</div>